########################################
# Python
########################################
__pycache__/
*.pyc
*.egg-info/
build/
dist/

########################################
# Environnements virtuels
########################################
venv/
env/
.venv/
linux_env/

########################################
# Fichiers locaux non versionnés
########################################
config_sirs.toml
TODO.txt
*.docx
*.pdf

########################################
# OS metadata
########################################
.DS_Store
Thumbs.db

