# INCLUSION EXPLICITE
include README_PYPI.md
include LICENSE
include sirs_import/config_sirs.example.toml

# EXCLUSION
exclude *.docx
exclude *.pdf
exclude TODO.txt
exclude *.log
exclude *.json
exclude *.gpkg
exclude *.sh

# EXCLURE LES DOSSIERS DE PHOTOS AU CAS OU
recursive-exclude photos *
recursive-exclude PHOTOS *

